.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  margin-top: 8px;

  .todo {
    margin-top: 8px;
    padding: 0 0 8px 28px;
  }

  .update {
    background-color: white;
    border: none;
    color: blue;
    margin-right: 12px;
    cursor: pointer;
  }

  .delete {
    background-color: white;
    border: none;
    color: red;
    margin-right: 12px;
    cursor: pointer;
  }
}
