.List{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    .todo{
        
        margin-top: 8px;
        padding: 0 0 8px 28px; 
    }
    .delete{
        background-color: white;
        border: none;
        color: red;
        margin-right: 12px;
        cursor: pointer;
    }
    


}
