.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;

  .contain {
    display: flex;
    height: 600px;
    width: 600px;
    border-radius: 12px;
    flex-direction: column;
    box-shadow: 2px 2px 2px;
    background-color: white;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px 12px 0 0;
      margin: 0%;
      height: 40px;
      font-weight: bold;
      font-size: 36px;
      background-color: aquamarine;
      padding: 16px 0;

      .sub-title {
        margin: 0;
      }
    }

    .input-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 56px;
      width: 600px;
      padding: 12px 0;

      .input-todo {
        display: flex;
        width: 90%;
        font-size: 16px;
        text-align: center;
        border: none;
        margin: 10px;
        height: 28px;
      }

      .button {
        background-color: white;
        border-radius: 5px;
        width: 80px;
        margin: 10px;
        height: 32px;
        border: 1px solid black;
        padding: 8px 0;
        cursor: pointer;
      }
    }
  }
}
